body {
    font-family: Arial, sans-serif;
}

#chat-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

#message-container {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}

.message {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,105,69,0.39267044708508403) 0%, rgba(17,168,174,1) 100%, rgba(0,212,255,1) 100%);
}